.blog-image1-1 {
  background: url(images/blog-image1/image00.jpg) center / cover;
}
.blog-image1-2 {
  background: url(images/blog-image1/image01.jpg) center / cover;
}
.blog-image1-3 {
  background: url(images/blog-image1/image02.jpg) center / cover;
}
.blog-image1-4 {
  background: url(images/blog-image1/image03.jpg) center / cover;
}
.blog-image1-5 {
  background: url(images/blog-image1/image04.jpg) center / cover;
}
.blog-image1-6 {
  background: url(images/blog-image1/image05.jpg) center / cover;
}
.blog-image1-7 {
  background: url(images/blog-image1/image06.jpg) center / cover;
}
.blog-image1-8 {
  background: url(images/blog-image1/image07.jpg) center / cover;
}
.blog-image1-9 {
  background: url(images/blog-image1/image08.jpg) center / cover;
}