/*
@font-face {
	font-family: 'SEGOEUIL';
	src: url('./SEGOEUIL.eot');
	src: local('SEGOEUIL'), url('./SEGOEUIL.woff') format('woff'), url('./SEGOEUIL.ttf') format('truetype');
}
*/
/* Converting all font */
*{
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
}
